body {
    background-image: url(Szolgáltatások-projektmenedzsment-scaled.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p {
    text-align: left;
    color: wheat;
}
h1 {
    text-transform: capitalize;
    color: crimson;
}
h2 {
    color: chartreuse;
}
li {
    color: wheat;
}